BDEv_OUTPUT
frameworks/dist
benchmarks/Hadoop/bin/*.jar
benchmarks/Spark/bin/*.jar
benchmarks/Flink/bin/*.jar
benchmarks/Spark/src/sparkbench/*.jar
benchmarks/Spark/src/sparkbench/project/target
benchmarks/Spark/src/sparkbench/project/project/target
benchmarks/Spark/src/sparkbench/target
benchmarks/Flink/src/flinkbench/*.jar
benchmarks/Flink/src/flinkbench/project/target
benchmarks/Flink/src/flinkbench/project/project/target
benchmarks/Flink/src/flinkbench/target
third-party/mahout*
third-party/hive*
