BDEv_OUT
experiment
frameworks/dist
frameworks/benchmarks/common/bin/tpcx*
frameworks/benchmarks/Spark/bin/*.jar
frameworks/benchmarks/Flink/bin/*.jar
frameworks/benchmarks/Spark/src/sparkbench/project/target
frameworks/benchmarks/Spark/src/sparkbench/project/project/target
frameworks/benchmarks/Spark/src/sparkbench/target
frameworks/benchmarks/Flink/src/flinkbench/project/target
frameworks/benchmarks/Flink/src/flinkbench/project/project/target
frameworks/benchmarks/Flink/src/flinkbench/target
third-party/mahout*
third-party/hive*
