BDEv_*_OUTPUT
frameworks/*
!frameworks/README
lib/*bench-*.jar
lib/flink-*.jar
lib/tpcx-hs-*.jar
lib/hive-*.jar
benchmarks/Spark/src/sparkbench/*.jar
benchmarks/Spark/src/sparkbench/project/target
benchmarks/Spark/src/sparkbench/project/project/target
benchmarks/Spark/src/sparkbench/target
benchmarks/Flink/src/flinkbench/*.jar
benchmarks/Flink/src/flinkbench/project/target
benchmarks/Flink/src/flinkbench/project/project/target
benchmarks/Flink/src/flinkbench/target
tools/mahout*
tools/hive*
